
@{
    ViewBag.Title = "Index";
}

<h2>Admin Stuff</h2>

<p>
    @Html.ActionLink("List of Users", "Users")
</p>
<p>
    @Html.ActionLink("List of Projects", "Projects")
</p>
<p>
    @Html.ActionLink("List of Files", "Files")
</p>
