@model goatCode.Models.ViewModels.StatViewModel

@{
    ViewBag.Title = "Stats";
}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Extension', 'Number of files'],
           /* In the for loop we use -1 because we don't want to include the "," at the end of the list we show in stats*/
          @for (int i = 0; i < Model.statData.Length - 1; i++)
          {
              @Html.Raw("['" + Model.statData[i].extension + "'," + Model.statData[i].count + "],")
          }
          @Html.Raw("['" + Model.statData[Model.statData.Length - 1].extension + "'," + Model.statData[Model.statData.Length - 1].count + "]")
        ]);
        var options = {
            title: 'File type statistics',
            pieHole: 0.4,
        };
        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>
<div id="donutchart" style="width: 900px; height: 500px;"></div>