
@model goatCode.Models.ViewModels.ProjectViewModel


@{
    ViewBag.Title = "Detailzz";
}

<h2>Detailzz</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Password
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.ID
                </td>
                <td>
                    @Model.name
                </td>
            </tr>
        </tbody>
    </table>
</div>