@{
    ViewBag.Title = "Contact us babe";

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
<<<<<<< HEAD
    Bifreiðarstöð Akureyrar<br />
    Akureyri, 600 Ísland<br />
    <abbr title="Phone">P:</abbr>
    00354-461-1010
</address>

<a-ddress>
    <strong>Help:</strong>   <a href="mailto:help@goatcode.com">help@goatcode.com</a><br />
    <strong>Info:</strong> <a href="mailto:info@goatcode.com">info@goatcode.com</a>
</a-ddress>

