@using goatCode.Models
@{
    ViewBag.Title = "Home Page";
}
<h3>Develop from the comfort of your browser!</h3>
<p>
    GoatCode is an online development tool. Connect to your project files whenever
    and wherever your are! Share your project with your teammates no matter where they are in the world!
</p><br />
<h3>Web development was never so easy!</h3>
<p>
    GoatCode combines and online code editor with your own workspace in a cloud!
</p>