@using goatCode.Models
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>GoatCode</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link href="~/Content/Template/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/Template/animate.min.css" rel="stylesheet">
        <link href="~/Content/Template/font-awesome.min.css" rel="stylesheet">
        <link href="~/Content/Template/lightbox.css" rel="stylesheet">
        <link href="~/Content/Template/main.css" rel="stylesheet">
        <link id="css-preset" href="~/Content/Template/presets/preset1.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <style type="text/css" media="screen">
            body {
                overflow: auto;
            }

        </style>
    </head>
    <body>
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(../../Content/Images/Slider/goat.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Welcome to the <span>GoatCode</span></h1>
                        <p class="animated fadeInRightBig">Online Editor - Multiple programming language options - More - More</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="~/Account/Register">Start now</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(../../Content/Images/Slider/goat2.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Develop from the comfort of your <span> browser!</span></h1>
                        <p class="animated fadeInRightBig">GoatCode is an online development tool. Connect to your project <br /> files whenever
                         and wherever your are! Share your project with your <br />teammates no matter where they are in the world!</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="~/Account/Register">Start now</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(../../Content/Images/Slider/goat3.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Development was never so <span> easy!</span></h1>
                        <p class="animated fadeInRightBig">
                            GoatCode combines and online code editor with your own workspace in a cloud!
                        </p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="~/Account/Register">Start now</a>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-double-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-double-right"></i></a>
        </div><!--/#home-slider-->
    </body>
</html>