@model goatCode.Models.ViewModels.ProjectUsersViewModel

@{
    ViewBag.Title = "ProjectUsersList";
}

<h2>Users in project</h2>

<table class="table table-striped">

    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.list)
{
    <tr>
        <td>
            @(Html.DisplayFor(asdf => item.Email))
        </td>
        <td align="right">
            @Html.ActionLink(" ", "DeleteUserFromProject", new { userId = item.Id, projectId = Model.projectId },
             new { onclick = "return confirm('Are you sure you wish to delete this file?');",
                 @class = "glyphicon glyphicon-trash", title = "Remove user from project" })
        </td>
    </tr>
}
</table>
@Html.ActionLink("Back to project", "Index", "Projects", new { projectId = Model.projectId }, null)

<div id="containers">
    <p> </p>
</div>

<style>
    #containers {
        width: 100%;
        height: 300px;
        overflow-y: auto;
    }
</style>